{% load static %}

<head>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


</head>


<header class="pb-md-4 pb-0">
     
    <div class="header-top">
        <div class="container-fluid-lg">
            <div class="row">
                {% if headerflash %}
                <div class="col-xxl-3 d-xxl-block d-none">
                    <div class="top-left-header">
                        <i class="iconly-Location icli text-white"></i>
                        <span class="text-white">{{headerflash.address}}</span>
                    </div>
                </div>
                {% endif %} 

                <div class="col-xxl-6 col-lg-9 d-lg-block d-none">
                    <div class="header-offer">
                        <div class="notification-slider">
                            <div>
                                <div class="timer-notification">
                                    <h6><strong class="me-1">Welcome to Arooz Wedding Hub</strong><strong class="ms-1">
                                        </strong>

                                    </h6>
                                </div>
                            </div>

                            <div>
                                <div class="timer-notification">
                                    <h6>Something you love is now on Rent!
                                        <a href="shop-left-sidebar.html" class="text-white">try it
                                            !</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="top-nav top-header sticky-header">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="navbar-top">
                        <!-- <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                            <span class="navbar-toggler-icon">
                                <i class="fa-solid fa-bars"></i>
                            </span>
                        </button> -->
                        <a href="/" class="web-logo nav-logo">
                            <img src="{% static 'web/images/logo/aroozlogo.jpeg' %}"
                                class="img-fluid blur-up lazyload" alt="">
                        </a>

                        <div class="middle-box">
                           

                            {% comment %} instead of location all categories {% endcomment %}
                            <div class="header-nav">
                                <div class="header-nav-left">
                                <button class="dropdown-category">
                                    <i data-feather="align-left"></i>
                                    <span>All Categories</span>
                                </button>
        
                                <div class="category-dropdown">
                                    <div class="category-title">
                                        <h5>Categories</h5>
                                        <button type="button" class="btn p-0 close-button text-content">
                                            <span class="material-icons-outlined">
                                                close
                                                </span>
                                        </button>
                                    </div>
        
                                    <ul class="category-list food-menu-filter">
                                       {% for category in categories %}
                                        <li class="onhover-category-list">
                                            <a href="{{category.get_absolute_url}}" class="category-name">
                                                <img src="{{category.image.url}}" alt="">
                                                <h6>{{category.category}}</h6>
                                                <i class="fa-solid fa-angle-right"></i>
                                            </a>         
                                            <div class="onhover-category-box w-100 product-items">
                                                <div class="list-1">
                                                    
                                                    <ul>
                                                        {% for subcategory in category.get_subcategories %}

                                                        <li>
                                                            <a href="{% url 'user:shop_category' subcategory.id %}">{{subcategory.subcategory }}</a>
                                                        </li>

                                                        {% endfor %}    
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                            {% comment %} end  all categories {% endcomment %}

                            <div class="search-box">
                                <form method="GET" action="{% url 'user:search' %}">
                                <div class="input-group">
                                    
                                        <input type="text" class="form-control" placeholder="I'm searching for..."
                                        aria-label="Recipient's username" aria-describedby="button-addon2" name="search"required>
                                        <button class="btn" type="submit" id="button-addon2">
                                            <i data-feather="search"></i>
                                        </button>
                                    
                                </div>
                            </form>
                            </div>
                        </div>

                        <div class="rightside-box">
                            <div class="search-full">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i data-feather="search" class="font-light"></i>
                                    </span>
                                    <input type="text" class="form-control search-type" placeholder="Search here..">
                                    <span class="input-group-text close-search">
                                        <i data-feather="x" class="font-light"></i>
                                    </span>
                                </div>
                            </div>
                            <ul class="right-side-menu">
                                <li class="right-side">
                                    <div class="delivery-login-box">
                                        <div class="delivery-icon">
                                            <div class="search-box">
                                                <i data-feather="search"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                               
                                {% comment %} <li class="right-side">
                                    <a href="{%url 'user:viewcart' %}" class="btn p-0 position-relative header-wishlist">
                                        <i data-feather="shopping-cart"></i>
                                    </a>
                                </li> {% endcomment %}
                               

                               
                                {% comment %} <li class="right-side onhover-dropdown">
                                    
                                    <div class="delivery-login-box">
                                        <div class="delivery-icon">
                                            <i data-feather="user"></i>
                                        </div>
                                        <div class="delivery-detail">
                                            <h6>Hello,</h6>
                                            <h5>My Account</h5>
                                        </div>
                                    </div>
                                   
                                    <div class="onhover-div onhover-div-login">
                                         <ul class="user-box-name">
                                           
                                            {% if status == 1 %}
                                            <li class="product-box-contain">
                                                <i></i>
                                                <a href={% url 'user:sign_up' %}>New Account</a>
                                            </li>
                                            <li class="product-box-contain">
                                                <a href={% url 'user:logout' %}>logout</a>
                                            </li>
                                            {% else %}
                                            <li class="product-box-contain">
                                                <a href={% url 'user:login' %}>Log in</a>
                                            </li>
                                            <li class="product-box-contain">
                                                <a href={% url 'user:sign_up' %}>Register</a>
                                            </li>
                                            {% endif %}
                                        </ul> 
                                    </div>
                                   
                                </li> {% endcomment %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% comment %} phone categories {% endcomment %}
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="header-nav">
                   <div class="header-nav-left">
                        <div class="category-dropdown">
                            <div class="category-title">
                                <h5>Categories</h5>
                                <button type="button" class="btn p-0 close-button text-content">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>

                            <ul class="category-list">
                                <li class="onhover-category-list">
                                    {% for category in categories %}
                                    <a href="{{category.get_absolute_url}}" class="category-name">
                                        <img src="{{category.image.url}}"
                                            alt="">
                                        <h6>{{category.category}}</h6>
                                        <i class="fa-solid fa-angle-right"></i>
                                    </a>
                                    <div class="onhover-category-box">
                                        {% for subcategory in category.get_subcategories %}
                                            <div class="category-title-box">
                                                <a href="{% url 'user:shop_category' subcategory.id %}"><h5>{{subcategory.subcategory}}</h5></a>
                                            </div>
                                            <ul>
                                                <!-- {% for products in subcategory.get_products %}
                                                <li>
                                                    <a href="{% url 'user:product' products.id %}">{{products.product}}</a>
                                                </li>
                                                {% endfor %} -->
                                            </ul>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div> 

                    <div class="header-nav-middle">
                        <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                            <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                <div class="offcanvas-header navbar-shadow">
                                    <h5>Menu</h5>
                                    <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                          
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</header>
{% block js %}

{% endblock %}