{% extends 'web/partials/base.html' %}

{% load static %}

{% block content %}

    <!-- mobile fix menu start -->
    <div class="mobile-menu d-md-none d-block mobile-cart">
        <ul>
            <li class="active">
                <a href="/">
                    <span class="material-symbols-outlined">
                        home
                        </span>
                    <span>Home</span>
                </a>
            </li>

            <li class="mobile-category">
                <a href="javascript:void(0)">
                    <span class="material-symbols-outlined">
                        category
                        </span>
                    <span>Category</span>
                </a>
            </li>

            <li>
                <a href="{% url 'user:search' %}" class="search-box">
                    <span class="material-symbols-outlined">
                        search
                        </span>
                    <span>Search</span>
                </a>
            </li>

           
        </ul>
    </div>
    <!-- mobile fix menu end -->
    {% comment %} <a target="_blank" href="https://wa.me/7907021031" class="whatsapp-button"><i class="fab fa-whatsapp"></i></a>
    <a target="_blank" href="tel:+917907021031" class="call-button"><i class="fa fa-phone"></i></a> {% endcomment %}
    <!-- Home Section Start -->


    <section class="home-section pt-2">
        <div class="container-fluid-lg">
            <div class="row g-4">
                <div class="col-xl-8 ratio_65">
                    <div class="home-contain h-100">
                        <div class="h-100">
                            {% if mainbanner %}
                            {% if mainbanner.product %}
                            <a href="{% url 'user:product' mainbanner.product.id %}">
                                <img src="{{mainbanner.bannerbig.url}}"
                                class="bg-img blur-up lazyload" alt="Stay home & delivered your Daily Needs">
                            </a>
                            {% else %}
                        
                            <a href="{% url 'user:shop' mainbanner.subcategory.id %}">
                                <img src="{{mainbanner.bannerbig.url}}"
                                class="bg-img blur-up lazyload" alt="Stay home & delivered your Daily Needs">
                            </a>
                            {% endif %}
                            {% endif %}
                        </div>
                        
                    </div>
                </div>

                <div class="col-xl-4 ratio_65">
                    <div class="row g-4">
                        
                        <div class="col-xl-12 col-md-6">
                            <div class="home-contain">
                                {% if subbanner1 %}
                                <a href="{% url 'user:product' subbanner1.product.id %}">
                                    <img src="{{subbanner1.subbanner1.url}}"
                                    class="bg-img blur-up lazyload" alt="">
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-6" style="margin-top: 14px;">
                            <div class="home-contain">
                                {% if subbanner2 %}
                                <a href="{% url 'user:product' subbanner2.product.id %}">
                                    <img src="{{subbanner2.subbanner2.url}}"
                                    class="bg-img blur-up lazyload" alt="">
                                </a>
                                {% endif %}
                            </div>
                        </div> 
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Section End -->

    <!-- Banner Section Start -->
    <section class="banner-section ratio_60 wow fadeInUp d-none">
        <div class="container-fluid-lg">
            <div class="banner-slider">
                <div>
                    <div class="banner-contain hover-effect">
                        <img src="{% static 'web/images/vegetable/banner/4.jpg' %}"
                            class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details">
                            <div class="banner-box">
                                <h6 class="text-danger">5% OFF</h6>
                                <h5>Hot Deals on New Items</h5>
                                <h6 class="text-content">Daily Essentials Eggs & Dairy</h6>
                            </div>
                            <a href="shop-left-sidebar.html" class="banner-button text-white">Shop Now <i
                                    class="fa-solid fa-right-long ms-2"></i></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="banner-contain hover-effect">
                        <img src="{% static 'web/images/vegetable/banner/5.jpg' %}"
                            class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details">
                            <div class="banner-box">
                                <h6 class="text-danger">5% OFF</h6>
                                <h5>Buy More & Save More</h5>
                                <h6 class="text-content">Fresh Vegetables</h6>
                            </div>
                            <a href="shop-left-sidebar.html" class="banner-button text-white">Shop Now <i
                                    class="fa-solid fa-right-long ms-2"></i></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="banner-contain hover-effect">
                        <img src="{% static 'web/images/vegetable/banner/6.jpg' %}"
                            class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details">
                            <div class="banner-box">
                                <h6 class="text-danger">5% OFF</h6>
                                <h5>Organic Meat Prepared</h5>
                                <h6 class="text-content">Delivered to Your Home</h6>
                            </div>
                            <a href="shop-left-sidebar.html" class="banner-button text-white">Shop Now <i
                                    class="fa-solid fa-right-long ms-2"></i></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="banner-contain hover-effect">
                        <img src="{% static 'web/images/vegetable/banner/7.jpg' %}"
                            class="bg-img blur-up lazyload" alt="">
                        <div class="banner-details">
                            <div class="banner-box">
                                <h6 class="text-danger">5% OFF</h6>
                                <h5>Buy More & Save More</h5>
                                <h6 class="text-content">Nuts & Snacks</h6>
                            </div>
                            <a href="shop-left-sidebar.html" class="banner-button text-white">Shop Now <i
                                    class="fa-solid fa-right-long ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-4">
                {% comment %} <div class="col-xxl-3 col-xl-4 d-xl-block d-none">
                    <div class="p-sticky d-none">
                        <div class="category-menu">
                            <h3>Category</h3>
                            <ul>
                                <li>
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/vegetable.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Vegetables & Fruit</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/cup.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Beverages</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/meats.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Meats & Seafood</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/breakfast.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Breakfast & Dairy</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/frozen.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Frozen Foods</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/biscuit.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Biscuits & Snacks</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/grocery.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Grocery & Staples</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/drink.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Wines & Alcohol Drinks</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/milk.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Milk & Dairies</a>
                                        </h5>
                                    </div>
                                </li>
                                <li class="pb-30">
                                    <div class="category-list">
                                        <img src="{% static 'svg/1/pet.svg' %}"
                                            class="blur-up lazyload" alt="">
                                        <h5>
                                            <a href="shop-left-sidebar.html">Pet Foods</a>
                                        </h5>
                                    </div>
                                </li>
                            </ul>

                            <ul class="value-list">
                                <li>
                                    <div class="category-list">
                                        <h5 class="ms-0 text-title">
                                            <a href="shop-left-sidebar.html">Value of the Day</a>
                                        </h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="category-list">
                                        <h5 class="ms-0 text-title">
                                            <a href="shop-left-sidebar.html">Top 50 Offers</a>
                                        </h5>
                                    </div>
                                </li>
                                <li class="mb-0">
                                    <div class="category-list">
                                        <h5 class="ms-0 text-title">
                                            <a href="shop-left-sidebar.html">New Arrivals</a>
                                        </h5>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="ratio_156 section-t-space">
                            <div class="home-contain hover-effect">
                                <img src="{% static 'web/images/vegetable/banner/8.jpg' %}"
                                    class="bg-img blur-up lazyload" alt="">
                                <div class="home-detail p-top-left home-p-medium">
                                    <div>
                                        <h6 class="text-yellow home-banner">Seafood</h6>
                                        <h3 class="text-uppercase fw-normal"><span
                                                class="theme-color fw-bold">Freshes</span> Products</h3>
                                        <h3 class="fw-light">every hour</h3>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                            class="btn btn-animation btn-md mend-auto">Shop Now <i
                                                class="fa-solid fa-arrow-right icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ratio_medium section-t-space">
                            <div class="home-contain hover-effect">
                                <img src="{% static 'web/images/vegetable/banner/11.jpg' %}"
                                    class="img-fluid blur-up lazyload" alt="">
                                <div class="home-detail p-top-left home-p-medium">
                                    <div>
                                        <h4 class="text-yellow text-exo home-banner">Organic</h4>
                                        <h2 class="text-uppercase fw-normal mb-0 text-russo theme-color">fresh</h2>
                                        <h2 class="text-uppercase fw-normal text-title">Vegetables</h2>
                                        <p class="mb-3">Super Offer to 50% Off</p>
                                        <button onclick="location.href = 'shop-left-sidebar.html';"
                                            class="btn btn-animation btn-md mend-auto">Shop Now <i
                                                class="fa-solid fa-arrow-right icon"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section-t-space">
                            <div class="category-menu">
                                <h3>Trending Products</h3>

                                <ul class="product-list border-0 p-0 d-block">
                                    <li>
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="{% static 'web/images/vegetable/product/23.png' %}"
                                                    class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">Meatigo Premium Goat Curry</h6>
                                                    </a>
                                                    <span>450 G</span>
                                                    <h6 class="price theme-color">$ 70.00</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="{% static 'web/images/vegetable/product/24.png' %}"
                                                    class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">Dates Medjoul Premium Imported</h6>
                                                    </a>
                                                    <span>450 G</span>
                                                    <h6 class="price theme-color">$ 40.00</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="{% static 'web/images/vegetable/product/25.png' %}"
                                                    class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">Good Life Walnut Kernels</h6>
                                                    </a>
                                                    <span>200 G</span>
                                                    <h6 class="price theme-color">$ 52.00</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="mb-0">
                                        <div class="offer-product">
                                            <a href="product-left-thumbnail.html" class="offer-image">
                                                <img src="{% static 'web/images/vegetable/product/26.png' %}"
                                                    class="blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a href="product-left-thumbnail.html" class="text-title">
                                                        <h6 class="name">Apple Red Premium Imported</h6>
                                                    </a>
                                                    <span>1 KG</span>
                                                    <h6 class="price theme-color">$ 80.00</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="section-t-space">
                            <div class="category-menu">
                                <h3>Customer Comment</h3>

                                <div class="review-box">
                                    <div class="review-contain">
                                        <h5 class="w-75">We Care About Our Customer Experience</h5>
                                        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly
                                            used to demonstrate the visual form of a document or a typeface without
                                            relying on meaningful content.</p>
                                    </div>

                                    <div class="review-profile">
                                        <div class="review-image">
                                            <img src="{% static 'web/images/vegetable/review/1.jpg' %}"
                                                class="img-fluid blur-up lazyload" alt="">
                                        </div>
                                        <div class="review-detail">
                                            <h5>Tina Mcdonnale</h5>
                                            <h6>Sale Manager</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}

                <div class="col-xxl-12 col-xl-12">
                    <div class="title title-flex">
                        <div>
                            <h2>Top Save Today</h2>
                            <span class="title-leaf">
                                <svg class="icon-width">
                                    <use xlink:href="{% static 'svg/leaf.svg#leaf' %}">
                                    </use>
                                </svg>
                            </span>
                            <p>Don't miss this opportunity at a special discount just for this week.</p>
                        </div>
                       
                        {% comment %} <div class="timing-box">
                            <div class="timing">
                                <i data-feather="clock"></i>
                                <h6 class="name">Expires in :</h6>
                                <div class="time">
                                    <ul>
                                        <li>
                                            <div class="counter">
                                                <div>
                                                    <h6 id="days1"></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div>
                                                    <h6 id="hours1"></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div>
                                                    <h6 id="minutes1"></h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="counter">
                                                <div>
                                                    <h6 id="seconds1"></h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> {% endcomment %}
                    </div>

                    <div class="section-b-space">
                        <div class="row m-0">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-info">
                                {{message}}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {%for topsaves in topsave%}                          
                                <div class="col-lg-2 col-6 px-0">     
                                    <div class="product-box" style="border: 1px solid red;">
                                        <div class="product-image">
                                            <a href={% url 'user:product' topsaves.id %}>
                                                <img src="{{topsaves.image.url}}"
                                                        class="img-fluid blur-up lazyload" alt="">
                                            </a>
                                            <ul class="product-option">
                                                <li data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="View">
                                                    <a href={% url 'user:product' topsaves.id %}>
                                                        <i data-feather="eye"></i>
                                                    </a>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                        <div class="product-detail">
                                            <a href={% url 'user:product' topsaves.id %}>
                                                        <h6 class="name " style="min-height: 0px; max-height: none; height: 22px; text-align: -webkit-center;">{{topsaves.product}}</h6>
                                            </a>
                                            <h5 class="sold text-content">
                                                    <span class="theme-color price">Rs {{topsaves.offer_price}}</span>
                                                        <del>{{topsaves.price}}</del>
                                            </h5>
                                            
                                           
                                        </div>
                                    </div>                                        
                                </div>
                            {% endfor %}  
                        </div>                                                         
                    </div>
                    {% comment %} <div class="section-b-space">
                        
                            {% for topsaves in topsave %}  
                            <form class="row m-0" method='POST'>
                                {% csrf_token %}                        
                                <div class="col-lg-4 col-6 px-0">                                       
                                    <div class="product-box" style="border-right:0px;">
                                        <div class="product-image">
                                            <a href={% url 'user:product' topsaves.id %}>
                                                <img src="{{topsaves.image.url}}"
                                                        class="img-fluid blur-up lazyload" alt="">
                                            </a>
                                            <ul class="product-option">
                                                <li data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="View">
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                data-bs-target="#view">
                                                        <i data-feather="eye"></i>
                                                    </a>
                                                </li>
                                                <li data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="Wishlist">
                                                    <button type="submit">
                                                        <a class="notifi-wishlist">
                                                        <i data-feather="heart"></i>
                                                        </a>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product-detail">
                                            <a href={% url 'user:product' topsaves.id %}>
                                                        <h6 class="name">{{topsaves.product}}</h6>
                                            </a>
                                            <h5 class="sold text-content">
                                                    <span class="theme-color price">Rs {{topsaves.offer_price}}</span>
                                                        <del>{{topsaves.price}}</del>
                                            </h5>
                                            <div class="product-rating mt-sm-2 mt-1">
                                                    <ul class="rating">
                                                        <li>
                                                            <i data-feather="star" class="fill"></i>
                                                        </li>
                                                        <li>
                                                            <i data-feather="star" class="fill"></i>
                                                        </li>
                                                        <li>
                                                            <i data-feather="star" class="fill"></i>
                                                        </li>
                                                        <li>
                                                            <i data-feather="star" class="fill"></i>
                                                        </li>
                                                        <li>
                                                            <i data-feather="star"></i>
                                                        </li>
                                                    </ul>
                                                    {% if topsaves.quantity > 0%}
                                                    <h6 class="theme-color">In Stock</h6>
                                                    {% else %}
                                                    <h6 class="theme-color">Out Of Stock</h6>
                                                    {% endif %}
                                            </div>
                                            <div class="add-to-cart-box">
                                                                                    
                                            </div>
                                        </div>
                                    </div>                                        
                                </div>
                            </form>   
                            {% endfor %} 
                                                                              
                    </div> {% endcomment %}

                 


                    <div class="title d-block ">
                        <div>
                            <h2>Our best Seller</h2>
                            <span class="title-leaf">
                                <svg class="icon-width">
                                    <use xlink:href="{% static 'svg/leaf.svg#leaf' %}">
                                    </use>
                                </svg>
                            </span>
                            <p>A virtual assistant collects the products from your list</p>
                        </div>
                    </div>

                    <div class="best-selling-slider product-wrapper wow fadeInUp">

                        <div>
                            <ul class="product-list">
                                {% for item in bestseller1%}
                                <li>
                                    <div class="offer-product">
                                        <a href="{% url 'user:product' item.id %}" class="offer-image">
                                            <img src="{{item.image.url}}"
                                                class="blur-up lazyload" alt="">
                                        </a>

                                        <div class="offer-detail">
                                            <div>
                                                <a href="{% url 'user:product' item.id %}" class="text-title">
                                                    <h6 class="name">{{item.product}}</h6>
                                                </a>
                                                {% comment %} <span>500 G</span> {% endcomment %}
                                                <h6 class="price theme-color">Rs {{item.price}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                         <div>
                            <ul class="product-list">
                                {% for item in bestseller2%}
                                <li>
                                    <div class="offer-product">
                                        <a href="{% url 'user:product' item.id %}" class="offer-image">
                                            <img src="{{item.image.url}}"
                                                class="blur-up lazyload" alt="">
                                        </a>

                                        <div class="offer-detail">
                                            <div>
                                                <a href="{% url 'user:product' item.id %}" class="text-title">
                                                    <h6 class="name">{{item.product}}</h6>
                                                </a>
                                                {% comment %} <span>500 G</span> {% endcomment %}
                                                <h6 class="price theme-color">Rs {{item.price}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="section-t-space d-none">
                        <div class="banner-contain hover-effect">
                            <img src="{% static 'web/images/vegetable/banner/14.jpg' %}"
                                class="bg-img blur-up lazyload" alt="">
                            <div class="banner-details p-center banner-b-space w-100 text-center">
                                <div>
                                    <h6 class="ls-expanded theme-color mb-sm-3 mb-1">SUMMER</h6>
                                    <h2 class="banner-title">VEGETABLE</h2>
                                    <h5 class="lh-sm mx-auto mt-1 text-content">Save up to 5% OFF</h5>
                                    <button onclick="location.href = 'shop-left-sidebar.html';"
                                        class="btn btn-animation btn-sm mx-auto mt-sm-3 mt-2">Shop Now <i
                                            class="fa-solid fa-arrow-right icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="title section-t-space d-none">
                        <h2>Featured Blog</h2>
                        <span class="title-leaf">
                            <svg class="icon-width">
                                <use xlink:href="{% static 'svg/leaf.svg#leaf' %}"></use>
                            </svg>
                        </span>
                        <p>A virtual assistant collects the products from your list</p>
                    </div>

                    <div class="slider-3-blog ratio_65 no-arrow product-wrapper d-none">
                        <div>
                            <div class="blog-box">
                                <div class="blog-box-image">
                                    <a href="blog-detail.html" class="blog-image">
                                        <img src="{% static 'web/images/vegetable/blog/1.jpg' %}"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>

                                <a href="blog-detail.html" class="blog-detail">
                                    <h6>20 March, 2022</h6>
                                    <h5>Fresh Vegetable Online</h5>
                                </a>
                            </div>
                        </div>

                        <div>
                            <div class="blog-box">
                                <div class="blog-box-image">
                                    <a href="blog-detail.html" class="blog-image">
                                        <img src="{% static 'web/images/vegetable/blog/2.jpg' %}"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>

                                <a href="blog-detail.html" class="blog-detail">
                                    <h6>10 April, 2022</h6>
                                    <h5>Fresh Combo Fruit</h5>
                                </a>
                            </div>
                        </div>

                        <div>
                            <div class="blog-box">
                                <div class="blog-box-image">
                                    <a href="blog-detail.html" class="blog-image">
                                        <img src="{% static 'web/images/vegetable/blog/3.jpg' %}"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>

                                <a href="blog-detail.html" class="blog-detail">
                                    <h6>10 April, 2022</h6>
                                    <h5>Nuts to Eat for Better Health</h5>
                                </a>
                            </div>
                        </div>

                        <div>
                            <div class="blog-box">
                                <div class="blog-box-image">
                                    <a href="blog-detail.html" class="blog-image">
                                        <img src="{% static 'web/images/vegetable/blog/1.jpg' %}"
                                            class="bg-img blur-up lazyload" alt="">
                                    </a>
                                </div>

                                <a href="blog-detail.html" class="blog-detail">
                                    <h6>20 March, 2022</h6>
                                    <h5>Fresh Vegetable Online</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Newsletter Section Start -->
    <section class="newsletter-section section-b-space">
        <div class="container-fluid-lg">
            <div class="newsletter-box newsletter-box-2">
                <!-- <div class="newsletter-contain py-5">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xxl-4 col-lg-5 col-md-7 col-sm-9 offset-xxl-2 offset-md-1">
                                <div class="newsletter-detail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Newsletter Section End -->

    <!-- Footer Section Start -->
    
    <!-- Footer Section End -->

    
{% endblock %}