{% load static %}

<footer class="section-t-space">
    <div class="container-fluid-lg">
        <div class="service-section">
            <div class="row g-3">
                <div class="col-12">
                    <div class="service-contain">
                        <div class="service-box">
                            <div class="service-image">
                                <img src="{% static 'web/svg/product.svg' %} "
                                    class="blur-up lazyload" alt="">
                            </div>

                            <div class="service-detail">
                                <h5>Every Fresh Products</h5>
                            </div>
                        </div>

                        <div class="service-box">
                            <div class="service-image">
                                <img src="{% static 'web/svg/delivery.svg' %}"
                                    class="blur-up lazyload" alt="">
                            </div>

                            <div class="service-detail">
                                <h5>Free Delivery For Order Over $50</h5>
                            </div>
                        </div>

                        <div class="service-box">
                            <div class="service-image">
                                <img src="{% static 'web/svg/discount.svg' %}"
                                    class="blur-up lazyload" alt="">
                            </div>

                            <div class="service-detail">
                                <h5>Daily Mega Discounts</h5>
                            </div>
                        </div>

                        <div class="service-box">
                            <div class="service-image">
                                <img src="{% static 'web/svg/market.svg' %}"
                                    class="blur-up lazyload" alt="">
                            </div>

                            <div class="service-detail">
                                <h5>Best Price On The Market</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-footer section-b-space section-t-space">
            <div class="row g-md-4 g-3">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-logo">
                        <div class="theme-logo">
                            <a href="/">
                                <img src="{% static 'web/images/logo/aroozlogo.jpeg' %}"
                                    class="blur-up lazyload" alt="">
                            </a>
                        </div>

                        <div class="footer-logo-contain">
                           
                            <p>Arooz Wedding Hub is one of the most popular and favorite joints for suits for rent in Malappuram. With a wide range of Luxurious Suites and Indo Western Wears, Arooz Wedding Hub is a groom’s paradise.</p>
                           
                            
                        </div>
                    </div>
                </div>

                
                <div class="col-xl col-lg-2 col-sm-3">
                    <div class="footer-title">
                        <h4>Products</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                <a href="/" class="text-content">Luxurious Suites</a>
                            </li>
                            <li>
                                <a href="/" class="text-content">Wedding Suites</a>
                            </li>
                            <li>
                                <a href="/" class="text-content">Kurtas</a>
                            </li>
                            <li>
                                <a href="/" class="text-content">Indo western</a>
                            </li>
                            <li>
                                <a href="/" class="text-content">Jodhpuri</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl col-lg-2 col-sm-3">
                    <div class="footer-title">
                        <h4>Useful Links</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                <a href="/" class="text-content">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-2 col-sm-3">
                    <div class="footer-title">
                        <h4>Help Center</h4>
                    </div>

                    <div class="footer-contain">
                        <ul>
                            <li>
                                <a href="{% url 'user:search' %}" class="text-content">Search</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="footer-title">
                        <h4>Contact Us</h4>
                    </div>

                    <div class="footer-contact">
                        <ul>
                            <li>
                                <div class="footer-number">
                                    <i data-feather="phone"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">Hotline 24/7 :</h6>
                                        <h5>+91 7907021031</h5>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="footer-number">
                                    <i data-feather="mail"></i>
                                    <div class="contact-number">
                                        <h6 class="text-content">Email Address :</h6>
                                        <h5>aroozweddinghub@gmail.com</h5>
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="footer-number">
                                    <i data-feather="home"></i>
                                    <div class="contact-number">
                                        <!-- <h6 class="text-content">Email Address :</h6> -->
                                        <h5>Arooz Wedding Hub Malappuram </h5>
                                        <h5>Address:
                                             23Q9+3CQ, Nooradi Bridge, Nooradi, Kodur, Kerala 676528</h5>
                                    </div>
                                </div>
                            </li>
                            <!-- <ul class="address">
                                <li>
                                    <i data-feather="home"></i>
                                    <a href="javascript:void(0)">Arooz Wedding Hub Malappuram </a>
                                </li>
                                <li>
                                    <i data-feather="mail"></i>
                                    <a href="javascript:void(0)">www.aroozweddinghub.in</a>
                                </li>
                            </ul> -->
                          
                            
                        </ul>
                    </div>
               
                </div>
                <div class="aroozmap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7355.512035756389!2d76.06503622405685!3d11.040188695553411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba64be8580e4cbd%3A0x32be94b736b9fc5a!2sArooz%20Wedding%20Hub!5e1!3m2!1sen!2sin!4v1683796855257!5m2!1sen!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

        <div class="sub-footer section-small-space">
            <div class="reserve">
                <h6 class="text-content">©2022 gedexo All rights reserved</h6>
            </div>

            <div class="payment">
                <img src="{% static 'web/images/payment/1.png' %}"
                    class="blur-up lazyload" alt="">
            </div>

            
        </div>
    </div>
</footer>